extends ../layout.jade

block content
  // Page Header
  // Set your background image for this header on the line below.
  header.intro-header(style="background-image: url('/img/post-bg.jpg')")
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          .post-heading
            h1 Man must explore, and this is exploration at its greatest
            h2.subheading Problems look mighty small from 150 miles up
            span.meta
              | Posted by
              a(href='#') Start Bootstrap
              |  on August 24, 2014
  // Post Content
  article
    .container
      .row
        .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
          :markdown
            # Heello!
            Some of you might know that for the last few years I've been going
            on a long road to financial freedom through starting businesses. I
            am not free yet, but I've tracked one habit that helped me more than
            anything else.

            Some people go to the woods, but it is much simpler - just learn to
            unplug. If you are not sure on your path in life - unplug. If you
            got too much to do - unplug. Got into a fight? Unplug.

            Unplugging is giving yourself some head space. Turning off Facebook,
            phone, not reading the news.

            All that new information is worthless for your overfilled head anyways.
            You start to care about things you should not care. You react to
            peoples opinions, try to make sure everybody agrees with you. Stop that.

            Go for a walk alone in a random neighbourhood. Hop on a random bus
            for a few stops and explore. Giving myself space changed my
            perspective so many times. Allow yourself to grow - don't let the
            fear fill your head with junk.

          a(href='#')
            img.img-responsive(src='/img/post-sample-image.jpg', alt='')
